extends layout

block content
    div.jumbotron
        h1 Hail JavaScript!
        p 
            | Official website of the 
            b JavaScript Advocacy Organization 
            | (JSAO)
        p.lead
            | We believe that everybody should abandon unsafe languages like C, <br />
            | and move to the safest language of them all - 
            i JavaScript


